@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #181818;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 270px;
  height: 100%;
  padding: 1rem;

  background-color: #0d0d0d;
}

.sidebar-button i {
  cursor: pointer;
}

.sidebar i {
  font-size: 1.5rem;
}
